<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%cyan{[%d{HH:mm:ss.SSS}]} %style{%highlight{[%level]}}{bright} %logger{1.} %cyan{>} %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="SysOut"/>
        </Root>
    </Loggers>
</Configuration>